<%# views/properties/index.html.erb %>

<h1 align="center">List of properties</h1>
<div align="center">
    <%= will_paginate %>
</div>

<%= render 'property', obj: @properties %>

<div align="center">
    <%= will_paginate %>
</div>