<h1>Showing selected property</h1>
<p>
    Property Name: <%= @property.property_name %>
</p>
<p>
    Description: <%= @property.description %>
</p>
<p>
    <%= link_to "Edit", edit_property_path(@property.id) %>
    | <%= link_to "Back to list", properties_path %>
</p>