$navbar-default-bg: #337ab7;

@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-bottom: 70px; }

#logo {
    float: left;
    font-size: 1.7em;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}


.jumbotron {
    background-image: asset-url('ilustration_property.jpg');
    height: 324px;
}   

.jumbotron h1 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

// Next lines look for have the text in the navbar in
// white color
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}
// Next lines look for have the text in the navbar in
// white color
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
// Next lines look for have the text in the navbar in
// white color
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
}
// Next lines look for have the text in the navbar in
// white color

.property-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0px;
}

.property-title {
    font-weight: bold;
    font-size: 1.5em;
}

.property-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer small{
    float: left;
    color: #fff;
}

#footer a{
    color: #fff;
}

#footer ul {
    float: right;
    list-style: none;
}

#footer ul li {
    float: left;
    margin-left: 15px;
}

.property-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}
